@{ 
    ViewBag.Title = "Home";
}

<h1>Home</h1>
<div class="list-group">
    <a class="font-weight-bold" asp-controller="Product" asp-action="Detail" asp-route-slugLink="Product-Of-the-Month">View Product of the Month</a>

    <a class="font-weight-bolder" asp-controller="Product" asp-action="List">View Products</a>

    <a class="font-weight-bolder" asp-controller="Home" asp-action="About">About us</a>


</div>